BODY
{
   background-image: url(Marble.jpg);
   background-color: #cce;
   font-family: "Garamond", "Serif";
}
p, address
{
   background-image: url(LightMarble.jpg);
   padding: 1%;
   border: thin groove;
   margin-left: 5%;
   margin-right: 5%;
   font-size: 12pt;
   text-align: justify;
}
ul, ol, dl
{
   background-image: url(LightMarble.jpg);
   padding: 20px;
   padding-left: 40px;
   border: thin groove;
   margin-left: 5%;
   margin-right: 5%;
   font-size: 12pt;
   text-align: justify;
}
h1
{
   background-image: url(LightMarble.jpg);
   padding: 1%;
   border: thin groove;
   margin-left: 10%;
   margin-right: 10%;
   color: #004000;
   font-size: 24pt;
   font-weight: normal;
   text-align: center;
}
h2
{
   background-image: url(LightMarble.jpg);
   padding: 1%;
   border: thin groove;
   margin-left: 20%;
   margin-right: 20%;
   color: #004000;
   font-size:18pt;
   font-weight: normal;
   text-align: center;
}
h3
{
   background-image: url(LightMarble.jpg);
   padding: 1%;
   border: thin groove;
   margin-left: 30%;
   margin-right: 30%;
   color: #004000;
   font-size:14pt;
   font-weight: normal;
   text-align: center;
}