BODY
{
   background-image: url(Wood.jpg);
   background-color: #a98;
   margin-left: 5%;
   margin-right: 5%;
   font-size: 12pt;
   font-family: impact, serif;
   text-align: justify;
}
p
{
   background-image: url(Oak.jpg);
   padding: 1%;
   border: ridge;
}
ul, ol, dl
{
   background-image: url(Oak.jpg);
   padding: 20px;
   padding-left: 40px;
   border: ridge;
}
h1
{
   background-image: url(Oak.jpg);
   padding: 1%;
   border: ridge;
   margin-left: 10%;
   margin-right: 10%;
   color: #422;
   font-size: 36pt;
   font-family: "Playbill", "Impact", "Serif";
   text-align: center;
}
h2
{
   background-image: url(Oak.jpg);
   padding: 1%;
   border: ridge;
   margin-left: 20%;
   margin-right: 20%;
   color: #422;
   font-size: 24pt;
   font-family: "Playbill", "Impact", "Serif";
   text-align: center;
}
h3
{
   background-image: url(Oak.jpg);
   padding: 1%;
   border: ridge;
   margin-left: 30%;
   margin-right: 30%;
   color: #422;
   font-size: 18pt;
   font-family: "Playbill", "Impact", "Serif";
   text-align: center;
}
a:link
{
   color: #ff0;
   text-decoration: none;
}
a:visited
{
   color: #860;
   text-decoration: none;
}
